<ion-header>
  <ion-toolbar>
    <ion-title>Autos disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-item id="itemLista">
        <ion-label>Auto de Benjamin</ion-label>
      </ion-item>
      <ion-item id="itemLista">
        <ion-label>Auto de Christian</ion-label>
      </ion-item>
      <ion-item id="itemLista">
        <ion-label>Auto de Fernanda</ion-label>
      </ion-item>
      <ion-item id="itemLista">
        <ion-label>Auto de Freddy</ion-label>
      </ion-item>
      <ion-item id="itemLista">
        <ion-label>Auto de Matias</ion-label>
      </ion-item>
      
    </ion-list>
  <ion-button shape="round" color="light" routerLink="/inicio">Volver</ion-button>
  </div>
</ion-content>
